<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erskine.stuart.starwarsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- List of activities -->
        <activity android:name=".EditDicePoolsActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/activity_manage_dice_pools"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            >
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".BuildDicePoolActivity"
            android:label="@string/activity_build_dice_pool"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>